@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1 1 50%;
}

.form-group {
    position: relative;
    max-width: calc(50% - 13px);
    flex: 1 0 50%;
    margin-bottom: 0.5rem;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #717680;
    font-weight: 600;
}

/* Input Styles */
input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 30px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: rgba(239, 241, 249, 0.6);
    border-radius: 8px;
    outline: 0;
}

.single {
    max-width: 100%;
}

.single textarea {
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    min-height: 100px;
}

/* Image Upload Styles */
.diamond-images {
    width: calc(100% - 20px);
    padding: 30px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: rgba(239, 241, 249, 0.6);
    border-radius: 8px;
    outline: 0;
    position: relative;
}

.diamond-images h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #717680;
    font-weight: 600;
    margin: 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image-item {
    position: relative;
    margin: 10px;
    width: 96px;
    height: 80px;
}

.image-item img {
    width: 96px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.image-item button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    padding: 0;
    width: 25px;
    height: 25px;
}

.image-item button img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 0;
}

.add-image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D4D4D4;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 96px;
    height: 80px;
    background-color: #F5F5F5;
    margin: 10px;
}

/* Responsive Adjustments (Example) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}