.form-group {
    display: flex;
    flex-direction: column;

    & label {
        font-size: 16px;
        font-weight: 500;
        color: #344054;
        margin-bottom: 8px;

        @media (max-width: $breakpoint-sm) {
            font-size: 14px;
        }
    }

    & input,
    textarea,
    select {
        height: 48px;
        width: 100%;
        border: 1px solid #d1e9ff;
        border-radius: 8px;
        padding: 10px;
        font-size: 14px;
        outline: none;

        @media (max-width: $breakpoint-sm) {
            font-size: 12px;
            height: 40px;
        }
    }

    & select {
        cursor: pointer;

        &:focus {
            outline: none;
        }

        option {
            cursor: pointer;
        }
    }

    .react-tel-input {
        input {
            width: 100%;
            border-color: #d1e9ff;
            padding-left: 10px;
        }

        .flag-dropdown {
            display: none;
        }
    }

    & .error-text {
        height: 22px;
        display: flex;
        align-items: center;
        color: $error-color;
        font-size: 12px;
    }

    & .error {
        border-color: $error-color;
    }

    .error {
        .css-1dg83kn-control {
            border-color: $error-color;

            &:hover {
                border-color: $error-color;
            }
        }
    }
}


.w_50 {
    width: 50% !important;
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    width: 100%;
}

// ! scrollbar
::-webkit-scrollbar {
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(206 204 204);
    border-radius: 10px;
}

.tbl-address {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-error {
    border-color: #ef4444 !important;
    border-radius: 4px;
}

.input-box-error {
    border-color: #ef4444 !important;
    border-width: 2px;
    border-radius: 4px;
}

.error-text {
    color: #ef4444;
    font-size: 12px;
    margin-top: 4px;

    &.vendorId {
        top: 50px;
    }
}

.select-placeholder {
    color: gray;
}

.select-option {
    color: black;
}

/** Custom Select */
.custom-select {
    height: 54px;

    input {
        height: unset !important;
    }
}

.custom-location {
    display: flex;
    margin-top: 5px;
}