@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050A24;
    background-image: url('../../assets/images/bg.svg');
    background-size: cover;
    background-position: center;
}

/* Login Box */
.login-box {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: #000;
    margin-bottom: 1.5rem;
    max-width: 365px;
    width: 100%;
    position: absolute;
    left: 50px;
    top: 50px;
}

/* Title */
.title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
}

/* Label */
.label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/* Input Fields */
.input {
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

/* Password Container */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 11px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
}

/* Forgot Password Link */
.forgot-password {
    position: absolute;
    right: 10px;
    top: 55px;
    font-size: 0.85rem;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

/* Login Button */
.login-button {
    font-size: 1rem;
    padding: 0.8rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.login-button:hover {
    background-color: #0056b3;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.error {
    border-color: red;
    outline: none;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .login-box {
        padding: 20px;
    }
}

/* Adjust styles for even smaller screens */
@media (max-width: 480px) {
    .login-box {
        padding: 15px;
    }
}