.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $dark;
    background-image: url("../../assets/images/bg.svg");
    background-size: cover;
    background-position: center;

    .password-eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}