@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.pagination .functional {
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414651;
    background-color: #fff;
    border-radius: 10px;
    padding: 9px 12px;
    gap: 5px;
    border: 1px solid #D5D7DA;
    cursor: pointer;
    box-shadow: #D5D7DA;
}

.pagination .functional img {
    height: 20px;
    width: 20px;
}

.pagination .functional .next-arrow {
    transform: rotate(180deg);
}

.pagination .functional p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.pagination .functional:disabled {
    opacity: 0;
    font-weight: bold;
    color: #535862;
}

.pagination .page-numbers button {
    height: 40px;
    width: 40px;
    background: #fff;
    border: none;
    gap: 15px;
    font-weight: 400;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, border 0.3s;
}

.pagination .page-numbers .active {
    background: #E9EAEB;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: #0A112F;
    border: none;
}

.pagination .page-numbers button:disabled {
    opacity: 1;
    cursor: not-allowed;
    font-weight: bold;
    color: #535862;
}