@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.search-container {
    max-width: 91.2rem;
    width: 100%;
    margin: 60px auto 0 auto;
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    border: none;
}

.search-bar-inner {
    width: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #E4E5E8;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    text-align: center;
}

.search-bar-inner input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #1E1E1E;
    outline: none;
    margin-left: 12px;
}

.search-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border: none;
    border-radius: 4px;
}

.search-buttons button {
    padding: 12px 25px;
    background-color: #F1F2F4;
    color: #18191C;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 12px;
}

.search-buttons button img {
    height: 24px;
    width: 24px;
}

p {
    margin: 0;
}

.add-item-button button {
    padding: 20px 55px;
    background-color: #1E1E1E;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
}