@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 250px;
    width: 100%;
}

.sidebar-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 14px;
    color: #000;
    opacity: 0.4;
    margin-bottom: 10px;
    display: block;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 12px;
}

.sidebar-item.selected {
    background-color: #cecccc;
    font-weight: bold
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.text {
    font-size: 0.9rem;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}