$primary-color: #1570ef;
$error-color: #ef4444;
$background-color: #f9fafb;
$text-color: #333;
$dark: #050a24;
$white: #fff;

// Breakpoints
$breakpoint-xs: 480px; // xs
$breakpoint-sm: 640px; // sm
$breakpoint-md: 768px; // md
$breakpoint-lg: 1024px; // lg
$breakpoint-xl: 1280px; // xl
$breakpoint-2xl: 1536px; // 2xl